:root {
  --primary-color: #353436;
  --secondary-color: #dc353f;
  --background-color: #f9fbfa;
}

body {
  background-color: var(--background-color);
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#calculator {
  margin: 100px;
  border-radius: 50px;
  background: linear-gradient(145deg, #e0e2e1, #ffffff);
  box-shadow: 20px 20px 60px #d4d5d5, -20px -20px 60px #ffffff;
  height: 530px;
  width: 400px;
  justify-content: center;
}

.sign {
  color: var(--secondary-color);
}

button {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  font-size: 40px;

  border-radius: 100%;
  color: var(--primary-color);
  border: none;
  background: var(--background-color);
  border-radius: 50%;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-top: 20px;
}

button:active {
  background: red;
}

#screen {
  border-radius: 66px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  width: 350px;
  height: 70px;
  margin-top: 40px;
  border-radius: 30px;
  display: flex;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

#screen p {
  color: var(--primary-color);
  text-align: right;
  width: 300px;
  font-size: 30px;
}

#numpad {
  display: flex;
  text-align: center;
  padding: 20px;
}
